/* таблица с расписанием */
td.corner{
	background-color: #A0D0FF;
}
tr:nth-child(even){
	background-color: #F0F5FF;
}
td.week {
	background-color: #D5E9FF;
	text-align: center;
	height:10px;
	border-top: 2px solid white;
}
@media screen and (min-width: 800px) {
	.for-small-screens {
    display:none;
  	}
	table.timetable {
		word-break: all;
		width: 100%;
		border-radius: 10pt;
		border-spacing: 0pt;
		box-shadow: 0pt 0pt 10pt 2pt #B0D0DF;
	}
	td.days {
		width:14%;
		height:30pt;
		min-width: 120px;
		background-color: #A0D0FF;
		font-size: 100%;
		text-align: center;
		font-family: Arial;
		border-left: 2px solid white;
	}
	td.time{
		height:50px;
		width: 50px;
		min-width: 50px;
		background-color: #D5E9FF;
		
		font-size: 14px;
		text-align: center;
		font-family: Arial;
		border-top: 2px solid white;
	}
	td.lesson{
		min-width: 10px;
		font-size: 12px;
		font-family: Helvetica;
		text-align: center;
		border-left: 2px solid #A0D0FF;
		border-spacing: 1px 0px;
	}
	td.lesson:hover {
	background-color: #D5EFFF;
	}
}
@media screen and (max-width: 800px) {
	
	table.timetable {
		word-break: all;
		width: 900px;
		border-radius: 10pt;
		border-spacing: 0pt;
		box-shadow: 0pt 0pt 10pt 2pt #B0D0DF;
	}
	td.days {
		height:40px;
		width:14%;
		min-width: 30px;
		background-color: #A0D0FF;
		font-size: 100%;
		text-align: center;
		font-family: Arial;
		border-left: 2px solid white;
	}

	td.lesson{
		height: 100px;
		min-width: 10px;
		font-size: 14px;
		padding: 5px;
		font-family: Helvetica;
		text-align: center;
		border-left: 2px solid #A0D0FF;
		border-spacing: 1px 0px;
	}
	td.time{
		width:30px;
		max-width: 50px;
		min-width: 40px;
		background-color: #D5E9FF;
		
		font-size: 13px;
		text-align: center;
		font-family: Arial;
		border-top: 2px solid white;
	}
}

tr:first-child td:first-child{
	border-top-left-radius: 12px;
}
tr:first-child td:last-child{
	border-top-right-radius: 12px;
}
tr:last-child td:first-child{
	border-bottom-left-radius: 12px;
}
tr:last-child td:last-child{
	border-bottom-right-radius: 12px;
}
/* конец стилей таблицы с расписанием */
